html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$color-primary: #91d568;
$color-primary-hover: #80c05c;
$color-text: #5b5b5b;

.btn {
  max-width: 150px;
  height: 40px;
  background-color: $color-primary;
  border-radius: 10px;
  color: #fff;
  outline: none;
  border: 1px solid $color-text;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.detail-container {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1024px;
  justify-content: center;
  color: $color-text;

  section {
    width: 100%;
    padding: 0 20px;

    h1 {
      margin: 0;
    }
  }

  .detail-image {
    min-width: 350px;
    min-height: 350px;
  }

  .price-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    button {
      width: 100%;
    }
  }
}

.detail-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-text;
}

.price-tag {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  color: $color-text;

  h2 {
    font-weight: 500;
    grid-area: price;
    margin-top: 0;
  }

  s {
    opacity: 0.8;
    margin-left: 10px;
  }
}

.product-container {
  display: grid;
  grid-template:
    "thumb name button"
    "thumb price button"/ 150px 3fr 150px;
  padding: 20px;
  width: 100%;
  max-width: 1024px;
  border: 1px solid $color-text;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  span {
    grid-area: thumb;
  }
  h1 {
    grid-area: name;
    margin-left: 20px;
    font-weight: 400;
    color: $color-text;
    margin-bottom: 0;
  }
  button {
    grid-area: button;
  }
}
