.product-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template:
    "thumb name button"
    "thumb price button";

  .p-thumb {
    grid-area: thumb;
  }
  h1 {
    grid-area: name;
  }
  h2 {
    grid-area: price;
  }
  button {
    grid-area: button;
  }
}
